.signin-container{
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        font-size:1.5rem;
        font-weight: 600;
        text-align: center;
    }
    form{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        margin-bottom: 1rem;
    }
    }
}