    .collection-item{
        width:23%;
        // margin:auto 1rem;
        // flex-grow: 1;
        margin:0.25rem;
        margin-bottom: 1rem;
        position: relative;
        min-width:250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover{
            .image{
                opacity:0.88;
                box-shadow:0 0 15px 2px #89b9b2;
            }
            .custom-button{
                display: flex;
                justify-content: center;
            }
        }
    .image{
        width: 100%;
        height:300px;
        border:2px solid #5d4b4eb8;
        border-radius: 5px;
        background:grey;
    }
    .collection-footer{
        width: 100%;
        display:flex;
        justify-content: space-between;
        font-size: 1.4rem;
        padding:4px;
        box-sizing: border-box;
        .name{
            word-break: break-word;
        }
    }
    .custom-button{
        position: absolute;
        top:14rem;
        display: none;
    }
}