.single-item-container{
    margin:10px 2px;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .item-attribute-container{
        img{
            width: 100%;
        }
        span{

        }
    }
    .image{
        width: 25%;
        display: flex;
    }
    .name{
        width: 20%;
    }
    .quantity{
        width: 20%;
        .plus-quantity{
            margin-left: 10px;
            cursor: context-menu;
        }
        .minus-quantity{
            margin-right:10px ;
            cursor: context-menu;
        }
    }
    .price{
        width: 15%;
    }
    .remove{
        width: 5%;
    }
}