.input-container{
    padding: 2rem;
.form-input{
    border:none;
    outline:none;
    border-bottom: 2px solid grey;
    font-size: 1.2rem;
    &:focus ~ .input-label{
        top:-2rem;
        color:grey;
    }
}
.input-label{
    left: -13.6rem;
    top:0;
    position: relative;
    transition:all 1s ease-in-out;
}
.shrink{
    top:-2rem;
}
}